@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Black.woff") format("woff"), url("../fonts/Roboto-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Regular";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 14px;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Roboto";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Roboto";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #621402;
  font-weight: 400;
  color: #fff;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1170px;
  margin: 0 auto;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 2;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0px;
}

.header__logo {
  margin: 0px 57px 0px 0px;
}

.header__sign {
  margin-left: auto;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item {
  margin: 0px 25px 0px 0px;
}

.menu__link {
  line-height: 16px;
  color: #FFFFFF;
}

.sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sign__hi {
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  margin: 0px 11px 0px 0px;
}

.sign__img {
  width: 33px;
  height: 33px;
  border-radius: 50%;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  z-index: 1;
}

.bg {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(98, 20, 2, 0.31)), color-stop(85.62%, #621402));
  background: -o-linear-gradient(top, rgba(98, 20, 2, 0.31) 0%, #621402 85.62%);
  background: linear-gradient(180deg, rgba(98, 20, 2, 0.31) 0%, #621402 85.62%);
  position: absolute;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.bg img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0px);
      -ms-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

.film {
  padding: 153px 0px 68px 0px;
}

.film__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.film__info {
  max-width: 570px;
}

.film__title-small {
  font-size: 24px;
  line-height: 150%;
  color: #ffffff;
  opacity: 0.5;
  margin: 0px 0px 11px 0px;
}

.film__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #ffffff;
  margin: 0px 0px 23px 0px;
}

.film__description {
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
  margin: 0px 0px 47px 0px;
}

.film__trailer {
  margin: auto;
}

.film__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.film-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 34px 0px 0px;
}

.film-time__clock {
  margin: 0px 14px 0px 0px;
}

.film-time__text {
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
}

.film-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.film-rating__img {
  margin: 0px 12px 0px 0px;
}

.film-rating__text {
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
}

.film-rating__text strong {
  font-weight: 700;
  font-size: 24px;
}

.session__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding: 46px 0px 64px 0px;
}

.session__label {
  display: block;
  font-size: 16px;
  line-height: 19px;
  margin: 0px 0px 20px 0px;
}

.session__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.session__item:not(:last-child) {
  margin: 0px 15px 0px 0px;
}

.session__theater {
  margin: 15px 0px 0px 0px;
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  color: #fff;
  width: 470px;
  height: 60px;
  padding: 0px 18px;
  cursor: pointer;
}

.session__theater option {
  background-color: #b12405;
}

.session__time-select {
  margin: 15px 0px 0px 0px;
  width: 108px;
  height: 60px;
  padding: 0px 18px;
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.session__time-select option {
  background-color: #b12405;
}

.item-session {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  width: 90px;
  height: 90px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.item-session__month {
  font-size: 16px;
  line-height: 19px;
}

.item-session__day {
  font-weight: 900;
  font-size: 30px;
  line-height: 35px;
}

.item-session__week {
  font-size: 19px;
  line-height: 22px;
}

@media (max-width: 1182px) {
  ._container {
    max-width: 970px;
  }
}

@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }
}

@media (any-hover: hover) {
  .item-session:hover {
    background-color: #fe8e05;
    color: #621402;
  }
}